

////////////////////////////////////// /////////////////////////// //////////////// ///////////////

body {
    margin:0;
}

div.content {
	border: 3px solid gray;
	width: 1000px;
	
	margin:0 auto;
	margin-top:20px;
}

a {
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li {
    list-style-type: none;
 }
 
article {
 	margin-bottom:50px; 	
}
 
h4 {
 	display:inline-block;
	margin-right: 20px; 	
}

p {
	margin-top:-10px;
}

.date {
	display: block;
	width:200px;
	text-align: right;
	float:right;
	margin-top:25px;
	
}

section.news-top {
	display: block;
}

section.news-bottom { 
    display: block;
 	max-width:500px;
  	float:right;
  	backgroud: red;

}

.tags {
	color: gray;
	display: inline-block;
	margin-right: 10px;
}

.tags li {
  display: inline;
  margin-left: 5px;
}

.comments {
	text-align: right;
	color: red;
	margin-right: 5px;
}

.section.news-bottom a {
	text-align: right;
}


.content div {
	margin-left: 15px;
	width: 720px;
	display: inline-block;
	border: 2px solid gray;
	margin-bottom: 10px;
	padding: 10px;
	
}

.content> div {
	min-height: 470px;
	 position: relative;
}

.content div select {
	display: inline-block;
}

.singleNews {
	padding: 10px;
}

.text {
	display: block;
	margin-top:10px;
}
.news-not-found {
	margin-top:20px;
	margin-left:20px;
}

.pages {
    vertical-align: bottom;
	margin-bottom:0px;
	text-align:center;
	background: #e2e1e3;
	position:absolute;
	bottom:10px;
	width:680px;

}

.pages li {
	display: inline-block;
}

.pages .current-page a{
	display:inline-block;
	color: white;
	background: #350035;
	text-decoration: none;
	
}

.pages a {
	margin: 5px;
	width: 30px;
	background: #898576;
	border: gray 1px solid;
	display:inline-block;
	border-radius: 5px;
	color:black;
	text-decoration: none;
}

.pages a:hover{
	display:inline-block;
	color: white;
	background: #350035;
	text-decoration: none;
	
}

.page-number {
	display:inline-block;
	background: rgba(250, 255, 242, 0.7);
	border: gray 1px solid;
	border-radius: 5px;
	width:20px;
	position:relative;
	left:150px;
}

a.next {
	float:right;
}

.listTags li {
	margin-bottom: 5px;
}
.listTags li input {
	margin-left: 40px;
}

.listTags form {
	display: inline-block;
}
.editTag {
	display:inline-block;
	background-color:#B0C4DE;
	padding: 2px 6px;
}

.cancel {
	display:none;
	background-color:#B0C4DE;
	padding: 2px 6px;
}


.deleteTagButton {
	margin-left:-80px;
	display:inline-block;
	background-color:#B0C4DE;
	padding: 3px 6px;
}
.updateTagButton {
	display:inline-block;
	background-color:#B0C4DE;
	padding: 3px 6px;
}

.listAuthors li {
	margin-bottom: 5px;
}
.listAuthors li input {
	margin-left: 40px;
}

.listAuthors form {
	display: inline-block;
}

.editAuthor {
	display:inline-block;
	background-color:#B0C4DE;
	padding: 2px 6px;
}

.expiredAuthorButton {
	margin-left:-80px;
	display:inline-block;
	background-color:#B0C4DE;
	padding: 3px 6px;
}
.updateAuthorButton {
	margin-left: 5px;
	display:inline-block;
	background-color:#B0C4DE;
	padding: 3px 6px;
}

.save-author-button {
	background-color:#B0C4DE;
	padding: 5px 10px;
}



.menu {
	padding: 0px 10px 10px;
	display: inline-block;
	background: #d6d6d6;
	width: 200px;
	float:left;
	margin-left:5px;
}

.menu a:before {
	display:inline-block;
	content:" ";
	background:url(../images/arrow.jpg) ;
	width:15px;
	height:15px;
	margin-right:5px;
	margin-left:5px;
	margin-top:2px;
} 

.menu li {
	background: white;
}

.menu a {
	margin-left: 5px; 
}

header {
	padding-left: 35px;
	font-size: 20px;
	color: blue;
	font-style: bold;
	display: block;
	border-bottom: 3px solid gray;
}



header h2 {
	width:600px;
	display:inline-block;
}

header section {font-size:18px;
	display:inline-block;
	
	position: absolute;
  	margin-left: 120px;
  	margin-top: 20px;
}

header section span:first-child {
	font-size:18px;
	display:inline;
	margin-right:0px;
}

header span+span {
	font-size:18px;
	color: blue;
	  display: block;
  margin-left: 160px;
  margin-top: 5px;

}



.logout-button {
	background-color:#B0C4DE;
	padding: 2px 6px;
	border:1px solid #c0c0c0;
	  display: inline-block;
  width: 55px;
  margin-left:10px;
 
	
}

.logout-button:hover {
	text-decoration:none;
}

footer {
	text-align:center;
	border-top: 3px solid gray;
	clear:both;
}

.nesFindForm {
	position: relative;
	margin-bottom:40px;
}

.nesFindForm select {
	position: absolute;
	left: 220px;
}

.nesFindForm .inp1 {
	position: absolute;
	left: 550px;
}

#popUpDeleteNews {
	position:absolute;
	display:block;
	width: 400px;
	text-align:center;
	top:200px;
	background:white;
	left:160px;
	display:none;
	border-radius:8px;
}



#popUpDeleteNews span{
	display:block;
	font-size:20px;
	margin-bottom:5px;
}

#popUpDeleteNews button{
	background-color:#B0C4DE;
	padding: 5px 10px;
	margin-left:10px;
	margin-right:10px;
}

#nullNewsToDelete {
	display:none;
}

.resetForm {
	display:inline;
}

.resetForm .inp2 {
	position: absolute;
	left: 625px;
  	top: 16px;
}

#ulDropdown {
	display: inline-block;
	border:1px solid black;
	width: 160px;
	margin-bottom: 10px;
	position: absolute;
	left: 380px;
	background:white;
	
}

#ulDropdown li {
	padding-left:25px;
/*	
*/	
}

#ulDrop:after {
	content:" ";
	display:inline-block;
	width:10px;
	height:9px;
	margin-left:5px;
	position:absolute;
	background: url(../images/triangle.jpg) no-repeat;
	top:5px;
	right:5px;
}

.first-child-li-dropdown {
	display:block;
	border-bottom:1px solid black;
	
}

.dropdownTags {
	display:none;
}

.newsCreation {
	margin-left: 10px;
	margin-top:10px;
}

.newsCreation + span {
	display:inline-block;
	margin-left: 25px;
	margin-bottom:10px;
}

.news-client div {
	width: 950px;
	backgroud:red;
	padding:10px;
	
}

.news-client ul.news-list {
	margin-top:50px;
}

.delete-news-button {
	background-color:#B0C4DE;
	display:block;
	margin-left:580px;
	padding: 10px 25px;
	margin-top:15px;
	margin-bottom:50px;

}

.comment-section {
	margin-top:15px;
}

.commenet-date {
	text-decoration:underline;
	display:block;
	
}

.delete-comment-form input {
	margin-top:-10px;
	background-color:#B0C4DE;
}


.comment-text {
	display:block;
	background:#DDDDDD;
	width:395px;
	margin-bottom:10px;
	margin-left:5px;
	padding:2px;
	padding-left:8px;
}

.post-comment-form {
	margin-left:40px;
}

.post-comment-form textarea {
	display:block;
	width:400px;
	max-width:400px;
	height:100px;
	margin-bottom:10px;
}

.post-comment-form input {
	display:block;
	margin-left:295px;
	background-color:#B0C4DE;
	padding: 10px;
	
}


.error-container {
	width:700px;
	border: 1px solid gray;
	padding:15px;
	margin:10px auto;
}



#commentIsNull {
	display:inline-block;
	margin-left: 100px;
	display:none;
	color:red;
	font-size:18px;

}

#commentIsLarge {
	color:red;
	font-size:18px;
	display:inline-block;
	margin-left: 100px;
	display:none;
}

#tagIsNull {
	display:inline-block;
	margin-left: 100px;
	display:none;
	color:red;
	font-size:18px;

}

#tagIsLarge {
	color:red;
	font-size:18px;
	display:inline-block;
	margin-left: 100px;
	display:none;
}


.create-news-selectors {
	border:none;
	margin-bottom:25px;
	width:600px;
	
}

.create-news-selectors select {
	display:block;
	margin-left:120px;
	
}

.createUlDropdown {
	
	display:block;
	background:blue;
	margin-left:-80px;
	
}

.news-info-creation textarea {
	width:500px;
	max-width:600px;
}

.news-info-creation  input {
	margin-bottom: 10px;
	display: block;
}

.news-info-creation  span {
	color: red;
	display:block;
	margin-bottom:10px;
}

.inputTitle {
	display: block;
	margin-bottom: 10px;
	height: 30px;
	max-height:80px;
}

.inputShortText {
	display: block;
	height: 40px;
	margin-bottom: 10px;
	max-height:120px;
}

.inputFullText {
	display: block;
	height: 200px;
	margin-bottom: 10px;
	max-height:400px;
}

.create-news-button {
	background-color:#B0C4DE;
	display:block;
	padding: 10px 25px;
	margin-top:15px;
}

#selectTags {
	color: red;
	display:inline-block;
	margin-bottom:10px;
	margin-left: 360px;
	margin-top:-15px;'
}


.login-layout header { 

	
}


.login-layout header span { 
	position:relative;
	left:700px;
	top:-60px;
}

.login-block {
	border:none;
	width:220px;
	display:block;
	margin:200px auto;
}

.login-form {
	width:220px;
	display:block;
	text-align:right;
	margin:0 auto;
	margin-bottom:40px;
}

.login-form input {
	display:inline-block;
	width:150px;
	margin-bottom:10px;
	
}

.login-form label {
	float:left;
}

.login-form button {
	width:80px;
	height:30px;
	display:inline-block;
	background-color:#B0C4DE;
	padding: 2px 6px;
	float:right;
}

.login-form + span {
	color:red;
	display:block;
	margin:0 auto;
	width:200px;
	text-align:center;
}

